.box {
  display: flex;
  flex-direction: column;
  font-family: "Karla", sans-serif;
  background-color: hwb(278 19% 63%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 400px;
  height: 40px;
  font-size: 24px;
}

.item {
  width: 400px;
  height: 40px;
  font-size: 24px;
}
