.box {
  display: flex;
  flex-direction: column;
  font-family: "Karla", sans-serif;
  background-color: hwb(278 19% 63%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.ol {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.item {
  width: 400px;
  height: 40px;
  font-size: 24px;
}

.btn {
  width: 200px;
  height: 70px;
  padding: 10px 20px;
  background-color: #548896;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  cursor: pointer;
}

