.box {
  display: flex;
  flex-direction: column;
  font-family: "Karla", sans-serif;
  background-color: hwb(278 19% 63%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.square {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  color: black;
}